@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,  #e4f0ee,#56b8e6);
  }
  .container{
    max-width: 320px;
    width: 350%;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 155px;
    border-radius: 5px;
    background: linear-gradient(135deg,  #e4f0ee,#56b8e6);
  }

  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc 20px;
  }

  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
}
.user-details .input-box input{
  height: 50px;
  width: 120%;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
border-color: #30aff8;
}

.forms .form-content .login-text{
  text-align: center;
  margin-top: 25px;
}
form .button{
    height: 45px;
    margin: 35px 0
  }
form .category label .dot{
 height: 18px;
 width: 18px;
 border-radius: 50%;
 margin-right: 5px;
 background: #000000;
 border: 5px solid transparent;
 transition: all 0.3s ease;
}
form .button input{
    height: 70%;
    width: 70%;
    border-radius: 5px;
    border: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;

}